{{ define "editor/compose.html" }}
<!DOCTYPE html>
<head>
    {{template "view/meta-head.html"}}
    <title>Simple Blog Editor</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.css" integrity="sha512-lB03MbtC3LxImQ+BKnZIyvVHTQ8SSmQ15AhVh5U/+CCp4wKtZMvgLGXbZIjIBBbnKsmk3/6n2vcF8a9CtVVSfA==" crossorigin="anonymous" referrerpolicy="no-referrer" />    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.js" integrity="sha512-ksSfTk6JIdsze75yZ8c+yDVLu09SNefa9IicxEE+HZvWo9kLPY1vrRlmucEMHQReWmEdKqusQWaDMpkTb3M2ug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.1/es5/tex-mml-chtml.min.js" integrity="sha512-lt3EkmQb16BgAXR0iCk+JUJyDFmS9NZEMXCXK169qQoWcXu9CS4feejtxkjjUruw/Y0XfL1qxh41xVQPvCxM1A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css" integrity="sha512-hasIneQUHlh06VNBe7f6ZcHmeRTLIaQWFd43YriJ0UND19bvYRauxthDg8E4eVNPm9bRUhr5JGeqH7FRFXQu5g==" crossorigin="anonymous" referrerpolicy="no-referrer" />    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js" integrity="sha512-yUUc0qWm2rhM7X0EFe82LNnv2moqArj5nro/w1bi05A09hRVeIZbN6jlMoyu0+4I/Bu4Ck/85JQIU82T82M28w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    <script src="https://cdn.jsdelivr.net/npm/hi-base64@0.2.1/src/base64.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.19.0/js/md5.min.js" integrity="sha512-8pbzenDolL1l5OPSsoURCx9TEdMFTaeFipASVrMYKhuYtly+k3tcsQYliOEKTmuB1t7yuzAiVo+yd7SJz+ijFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <div class="container-fluid body-container"> 
        <main>
            <div class="row g-3 align-items-center mt-2 mb-1">
                <div class="col-auto">
                    <label for="inputTitle" class="col-form-label">Title</label>
                </div>
                <div class="col-auto">
                    <input id="inputTitle" class="form-control" aria-describedby="title" value="{{ .title }}">
                </div>
            </div>
            <textarea id="main-editor"></textarea>
            <div class="row g-3">
                <div class="col-auto">
                    <button type="button" class="btn btn-outline-primary" onclick="onPublish()">Publish</button>
                    <button type="button" class="btn btn-outline-secondary" onclick="onSave()">Save</button>
                </div>
            </div>
        </main>


        <script>
            var simplemde = null;
            window.onload = function() {
                simplemde = new SimpleMDE({
                    // previewRender: function(plainText) {
                    //     axios.post('/editor/preview', plainText)
                    //     .then(function (response) {
                    //         if (response.status == 200) {
                    //             return response.data
                    //         }
                    //     }).catch(function (error) {
                    //         console.log(error)
                    //         return '';
                    //     });
                    // },
                    previewRender: function(plainText, preview) { // Async method
                        setTimeout(function(){
                            axios.post('/editor/preview', plainText)
                            .then(function (response) {
                                if (response.status == 200) {
                                    preview.innerHTML = response.data
                                    hljs.highlightAll();

                                }
                            }).catch(function (error) {
                                console.log(error)
                                preview.innerHTML = 'server render error';
                            });
                        }, 500);

                        return "Loading...";
                    },
                });

                simplemde.value("{{ .content | PrepareContent }}");
            }
            
            function onPublish() {
                var content = base64.encode(simplemde.value())
                let data = {
                    "post": {
                        "title": document.getElementById("inputTitle").value,
                        "public_state": true,
                    },
                    "content": {
                        "content": content,
                        "checksum": md5(content)
                    }
                }
                const options = {
                    headers: {"content-type": "application/json"}
                }
                const url = window.location.pathname.replace("compose", "publish")

                axios.post(url, data, options).then(function(response) {
                    if (response.status == 200) {
                        alert("publish ok!")
                    }
                }).catch(function (error) {
                    console.log(error)
                    alert('error')
                });
            }

            function onSave() {
                var content = base64.encode(simplemde.value())
                let data = {
                    "post": {
                        "title": document.getElementById("inputTitle").value,
                        "public_state": false,
                    },
                    "content": {
                        "content": content,
                        "checksum": md5(content.toString())
                    }
                }
                const options = {
                    headers: {"content-type": "application/json"}
                }
                const url = window.location.pathname.replace("compose", "save")
                axios.post(url, data, options).then(function(response) {
                    if (response.status == 200) {
                        alert("save ok!")
                    }
                }).catch(function (error) {
                    console.log(error)
                    alert('error')
                });
            }
        </script>
        
    </div>
</body>



</html>

{{ end }}